<h3>Spis Treści</h3>
<ul>
    <li><a href="#terminy">Terminy</a></li>
    <li><a href="#tresc">Edycja Treści</a></li>
    <li><a href="#wydarzenia">Wydarzenia</a></li>
    <li><a href="#potrzeby">Potrzeby</a></li>
    <li><a href="#ustawienia">Ustawienia</a></li>
</ul>
<hr>
<h3 id="terminy">Terminy</h3>
<p>W poniższych instrukcjach zostaną użyte następujące terminy techniczne:</p>
<ul>
    <li><b>Backend</b> - Panel administracyjny. Miejsce, w którym aktualnie jesteś.</li>
    <li><b>Frontend</b> - Część strony widoczna dla gości</li>
    <li><b>OctoberCMS</b> - CMS użyty przy stronie. <a href="http://octobercms.com">Oficjalna Strona</a></li>
</ul>
<p>OctoberCMS jest modularny i przy znajomości HTML / CSS / PHP, stronę można bez problemu poszerzyć o kolejne moduły. Więcej informacji w języku angielskim <a href="https://octobercms.com/docs/" target="_blank"><b>tutaj</b></a>.</p>
<hr>
<h3 id="tresc">Edycja Treści</h3>
<p>Treść strony StudioManager edytuje się na kilka sposób, w zależności od konkretnego miejsca na stronie.</p>
<br />
<h4>Edycja Treści Strony Głównej</h4>
<p>Strona główna dzieli się na kilka segmentów:</p>
<ul>
    <li>Menu</li>
    <li>Powitanie</li>
    <li>Najbliższe wydarzenie</li>
    <li>O nas</li>
    <li>Aktualna potrzeba StudioManager</li>
</ul>

<p>Aby zmienić pozycję menu, należy w głównym menu backendu wybrać pozycję <b>Strony</b>, następnie <b>Menu</b> i wybrać <b>mainmenu</b>.</p>
<p>Na stronie, która się pojawi, możliwe jest przestawianie pozycji menu, zmiana ich nazw orz linków, dodawanie nowych pozycji etc</p>
<img src="https://i.keios.eu/jz/logo-big-160924-155025.png" class="img-responsive" />
<br />

<p>Treść powitania to treść statyczna, wpisana w kod HTML strony. <br /> Aby je zmienić, należy w backendzie wybrać pozycję <b>CMS</b>, następnie <b>Układy</b> i układ <b>default.htm</b>, po czym zmienić treść w linii <b>71</b></p>
<img src="https://i.keios.eu/jz/logo-big-160924-155308.png" class="img-responsive" />
<br />

<p>Edycja wydarzeń zostanie opisana w dziale <a href="#wydarzenia">Wydarzenia</a></p>
<p>Edycja informacji <b>O nas</b>, to jest głównego skrótowego opisu oraz trzech fragmentów na stronie głównej, odbywa się w trybie edycji.</p>

<p>Aby zmienić ich tekst należy być zalogowanym do backendu, przejść na stronę główną w nowej karcie przeglądarki i najechać kursorem na tekst. Po najechaniu, pojawi się ikona włączająca tryb edycji.</p>

<img src="https://i.keios.eu/jz/logo-big-160924-155841.png" class="img-responsive">
<br />
<p>Kliknięcie ikony umożliwi edycję teksty. Zmiany akceptujemy lub odrzucamy również przyciskami w prawym górnym rogu.</p>

<img src="https://i.keios.eu/jz/logo-big-160924-160015.png" class="img-responsive">
<br />
<p>Edycja bieżącej potrzeby zostanie opisana w dziale <a href="#potrzeby">Potrzeby</a></p>


<hr>
<h3 id="wydarzenia">Wydarzenia</h3>
<p><b>Wydarzenia</b> tworzą moduł wyświetlający najbliższe nadchodzące wydarzenie na stronie głównej oraz kalendarz na podstronie <b>/kalendarz</b>. Zarządzanie wydarzeniami możliwe jest poprzez przejście do sekcji <b>StudioManager</b> w backendzie.</p>

<p>W podsekcji <b>Kategorie</b>, możliwe jest utworzenie i edycja kategorii wydarzeń (które wyświetlą się po kliknięciu wydarzenia w kalendarzu). Główną podsekcją umożliwiającą zarządzanie wydarzeniami jest podsekcja <b>Wydarzenia</b>.</p>

<p>Po wejściu do podsekcji <b>Wydarzenia</b> wyświetli się lista wydarzeń oraz przycisk <b>Nowe wydarzenie</b>. Edycja utworzonych wydarzeń możliwa jest poprzez kliknięcie na dane wydarzenie. </p>


<img src="https://i.keios.eu/jz/logo-big-160924-162541.png" class="img-responsive" />
<br />
<ol>
    <li>Nazwa wydarzenia, główny tytuł wyświetlany w modułach na frontendzie</li>
    <li>Data i godzina startu wydarzenia. Na jej podstawie liczony będzie czas do wydarzenia.</li>
    <li>Data i godzina zakończenia wydarzenia.</li>
    <li>Wyłączenie pola <b>Opublikowane</b> sprawi, że wydarzenie nie będzie wyświetlanie we frontendzie</li>
    <li>Opis wydarzenia wyświetli się po kliknięciu na wydarzenie w Kalendarzu</li>
    <li>Strona umieszczona w polu <b>Link</b> otworzy się po kliknięciu przycisku <b>Szczegóły</b> we frontendzie</li>
    <li>Miejsce wydarzenia wyświetli się w szczegółach. Po kliknięciu miejsca we frontendzie, odwiedzający zobaczy lokalizację miejsca w Google Maps. Dla miejsc nieuwzględnionych w Google Maps możliwe jest tworzenie specjalnych wpisów w podsekcji <b>Adresy</b></li>
    <li>Kategorie wyświetlą się po kliknięciu na wydarzenie w Kalendarzu</li>
    <li>Kolor tła wydarzenia w kalendarzu.</li>
    <li>Kolor czcionki wydarzenia w kalendarzu</li>
</ol>
<hr>
<h3 id="potrzeby">Adresy</h3>
<p>Podsekcja adresy umożliwia podanie konkretnych adresów dla miejsc wydarzeń. Przykładowo, jeśli wydarzenie odbywa się w Chramie Mazowieckim, lecz nie jest on uwzględniony w Google Maps (tzn gdy wpiszemy Chram Mazowiecki w Google Maps, nie zostanie od odnaleziony), zalecane jest podanie konkretnego adresu w podsekcji Adresy. Wówczas odwiedzający stronę będzie mógł kliknąć miejsce wydarzenia na frontendzie i zobaczyć dokładną lokalizację na mapie, a tworzący wydarzenie uniknie wpisywania kompletnego adresu.</p>
<hr>
<h3 id="potrzeby">Potrzeby</h3>
<p><b>Zalecane jest utrzymywanie jednej aktywnej potrzeby</b></p>
<p>Bieżące potrzeby kościoła wyświetlane są na stronie głównej. Edycja i tworzenie potrzeb odbywa się w backendzie, w sekcji <b>StudioManager</b>, w podsekcji <b>Potrzeby</b></p>
<img src="https://i.keios.eu/jz/logo-big-160925-200846.png" class="img-responsive" />
<ol>
    <li>Tytuł potrzeby</li>
    <li>Opis potrzeby do wyświetlenia na stronie. W ramach designu strony, zalecane jest wprowadzenie nie więcej niż 10 zdań.</li>
    <li>Link, do którego będzie prowadził przycisk <b>Wspomóż teraz</b> na stronie, a także który będzie udostępniany za pomocą przycisków "Udostępnij przez FB/Twitter".</li>
    <li>Film, który pojawi się obok opisu potrzeby. Należy wprowadzić kod, który można uzyskać z linku do filmu. Przykładowo, dla filmu <b><a href="https://www.youtube.com/watch?v=XnwiNvp-U50" target="_blank">https://www.youtube.com/watch?v=XnwiNvp-U50</a></b> kodem jest <b>XnwiNvp-U50</b> i tylko ten kod należy wprowadzić.</li>
    <li>Nieaktywne potrzeby nie będą wyświetlane na stronie</li>
    <li>Grafika zostanie wyświetlona zamiast filmu, jeśli nie wprowadzono filmu w pole <b>Link do YouTube</b></li>
</ol>
<hr>
<h3 id="ustawienia">Ustawienia</h3>
<p>Większość ustawień OctoberCMS jest skonfigurowana w ramach wdrożenia. Przy niektórych jednakże, może wystąpić potrzeba wprowadzenia zmian w przyszłości. Należą do nich:</p>
<ul>
    <li>Ustawienia Formularza Kontaktowego</li>
    <li>Ustawienia MyWebsite</li>
    <li>Ustawienia Wiadomości</li>
</ul>

<h4>Ustawienia Formularza Kontaktowego (ContactUs)</h4>

<p>ContactUs to wtyczka odpowiedzialna za formularz kontaktowy. Najważniejszym ustawieniem w tej podsekcji jest <b>Odbiorca e-maila</b>, gdzie zdefiniowany jest adres, na który będą docierać wiadomości z formularza. Pozostałe ustawienia z reguły nie ulegają zmianie. Tryb CAPTCHA wymaga konfiguracji Google według <a href="https://octobercms.com/plugin/devinx-contactus" target="_blank">dokumentacji autora wtyczki</a></p>

<img src="https://i.keios.eu/jz/logo-big-160925-000928.png" class="img-responsive" />
<br />
<h4>Ustawienia MyWebsite</h4>

<p>MyWebsite to nasza autorska wtyczka, ułatwiająca zarządzanie podstawowymi elementami strony, takimi jak</p>
<ul>
    <li>Ikona strony</li>
    <li>Logo strony</li>
    <li>Nazwa i opis strony</li>
    <li>Słowa kluczowe strony</li>
    <li>Dane kontaktowe na stronie <b>Kontakt</b></li>
    <li>Adresy kont twitter, facebook i innych</li>
    <li>Informacje SEO dla Facebook, Twitter i Windows 8+</li>
</ul>
<p>Moduł mapy jest wyłączony na stronie StudioManager.</p>
<p>Aktualnie aktywny jest tylko moduł Facebook, więc wprowadzanie adresów innych mediów społecznościowych nie przyniesie zmian. Jeśli zaistnieje taka potrzeba, prosimy o kontakt.</p>
<br />
<h4>Ustawienia Wiadomości</h4>

<p>Wysyłanie e-maili zorganizowane jest za pomocą serwisu MailGun, umożliwiającego wysyłanie 1000 maili miesięcznie za darmo. Wybraliśmy ten serwis, gdyż znakomicie radzi sobie z filtrami antyspamowymi i z powodzeniem używamy go na wielu produkcjach. Jako że na stronie StudioManager wysyłanie e-mail odbywa się w jednym tylko miejscu (mianowiecie Formularzu Kontaktowym), MailGun jest tutaj świetnym i szybkim rozwiązaniem. Niemniej jednak OctoberCMS oferuje kilka trybów wysyłania wiadomości e-mail, których konfiguracja została opisana w <a href="https://octobercms.com/docs/services/mail" target="_blank">dokumentacji OctoberCMS</a>.</p>

<hr>
<h3>Kontakt do Pomocy Technicznej</h3>

<p><a href="https://keios.eu/contact" target="_blank">Kliknij tutaj</a> lub napisz na info@keios.eu</p>