{% if closest_event %}
    <section class=event>
        <div class=container>
            <div class=row>
                <figure class="left-fig clearfix">
                    <div class=left-fig-img><i class="fa fa-calendar"></i></div>
                    <div class=left-fig-content><h5>nadchodzące wydarzenie</h5></div>
                </figure>
                <ul class="right-fig fb-js-countdown clearfix">
                    <li><h5>
                            {{ closest_event.title }}
                        </h5>
                        <h6>
                            {{ closest_event.start_date }}
                        </h6>
                    </li>
                    <li class=days><span class=count></span> <span>dni</span></li>
                    <li class=hours><span class=count></span> <span>godzin</span></li>
                    <li class=minutes><span class=count></span> <span>minut</span></li>
                    <li class=seconds><span class=count></span> <span>sekund</span></li>
                    <li>
                        <a href="{{ closest_event.link }}" class="btn btn-sm cal-btn red-btn">szczegóły</a>
                        <br />
                        <a href="/kalendarz" class="btn btn-sm red-btn cal-btn">kalendarz</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <script>
        {% set startDate = closest_event.start_date  %}
        $('document').ready(function(){
            $(".fb-js-countdown").countdown(new Date("{{ startDate }}"));
        })
    </script>
{% endif %}