<div class=row>
    <div class=clearfix>
        {% for event in close_events %}
        <div class=figure>
            <div class=item-fig>
                <div class=item><i class="fa fa-calendar"></i> <h5>{{ event.start_date|date("Y-m-d") }}</h5> <h6>{{ event.location }}</h6>
                </div>
            </div>
            <div class=item-content><h4>{{ event.title }}</h4>
                <p>{{ event.excerpt }}</p>
                <a data-toggle="modal" href="#event-{{ event.id }}" class="btn-small trans-purple-btn">Więcej</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% for event in studiomanager_events_raw %}
    <!-- Modal -->
    <div id="event-{{ event.id }}" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-color: {{ event.color }}; color: {{ event.font_color }}">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ event.title }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-8">
                            {{ event.description|raw }}
                        </div>
                        <div class="col-sm-4">
                            Start:
                            <br/>
                            <b>{{ event.start_date }}</b>
                            <br/><br/>
                            Koniec:
                            <br/>
                            <b>{{ event.end_date }}</b>
                            <br/><br/>
                            Miejsce:
                            <br/>
                            <b>{{ event.location }}</b>
                            <br><br />
                            Kategorie:<br />
                            {% for category in event.studios %}
                                <b>{{ category.name }} </b>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="pull-left btn btn-sm btn-default" href="{{ event.link }}" target="_blank">
                        Szczegóły
                    </a>
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Zamknij</button>
                </div>
            </div>

        </div>
    </div>

{% endfor %}