<div id="fccalendar"></div>
{% put scripts %}
<script>
    $(document).ready(function () {
        $('#fccalendar').fullCalendar({
            locale: 'pl',
            events: {{ studiomanager_events_json|raw }},
            timeFormat: 'HH:mm',
            eventClick: function (event, jsEvent, view) {
                $('#event-' + event.id).modal("show");
            },
            dayClick: function (date, jsEvent, view) {
                $('#booking-modal').modal("show");
            }
        });
    });
</script>
{% endput %}

{% for event in studiomanager_events_raw %}
    <!-- Modal -->
    <div id="event-{{ event.id }}" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-color: {{ event.color }}; color: {{ event.font_color }}">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ event.title }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <h2>Termin jest zajęty.</h2>
                        <p>{{ event.start_date }} - {{  event.end_date }}</p>
                    </div>
                </div>
                <div class="modal-footer">
                       <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Zamknij</button>
                </div>
            </div>

        </div>
    </div>
{% endfor %}