<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('keios/studiomanager/studios') ?>"><?= Lang::get('keios.studiomanager::lang.studios.menu_label') ?></a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <div class="form-preview">
        <?= $this->formRenderPreview() ?>
    </div>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('keios/studiomanager/studios') ?>" class="btn btn-default"><?= Lang::get('keios.studiomanager::lang.studios.return') ?></a></p>

<?php endif ?>